* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  /* font-family: 'Gelasio', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-size: 10px;
  font-weight: 400;
  font-size: normal;
  color: #081f32;
  background-color: #fff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_link {
  text-decoration: none;
}

.nav_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_li {
  padding: 15px;
  list-style-type: none;
}

.nav_home {
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  color: #1b75bb;
  text-decoration: none;
}

.nav_menu {
  text-decoration: none;
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  color: #081f32;
  opacity: 0.7;
}

.book {
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
  background-color: #1b75bb;
  padding: 15px;
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  color: #ffffff;
}

/* FIRST SECTION */
.first_section {
  background-image: url("../imgs/main-bg.jpg");
  min-height: 690px;
}

.first_content {
  max-width: 456px;
  padding-top: 20rem;
}

.serenity {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1b75bb;
  opacity: 0.8;
}

.first_section_title {
  font-family: Gelasio;
  /* font-style: normal; */
  font-size: 5.7rem;
  /* max-width: 45.6rem; */
  margin: 0 0 2rem;
}

.home {
  font-family: Gelasio;
  font-style: normal;
  font-weight: 600px;
  font-size: 5.7rem;
  line-height: 120%;
  color: #1b75bb;
}

.first_section_text {
  font-size: 1.8rem;
  max-width: 34rem;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #081f32;
  opacity: 0.6;
  margin-top: 25px;
  margin-bottom: 30px;
}

.read {
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  background-color: #1b75bb;
  padding: 15px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 48px;
}

/* find */

.find {
  margin-top: -40px;
}

.additional {
  position: relative;
  top: -20px;
  left: 0px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 10px;
  max-width: 687px;
  display: flex;
  flex-wrap: wrap;
}

.nav_find {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.find_border {
  padding: 30px;
  list-style-type: none;
  position: relative;
}

.find_border:after {
  content: "";
  position: absolute;
  height: 34px;
  width: 2px;
  top: 35px;
  right: -8px;
  background-color: #9dacb8;
}

.cheeks {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
  color: #081f32;
  padding-bottom: 5px;
}

.explain {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 160%;
  color: #081f32;
  opacity: 0.8;
}

.find_room {
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  background-color: #1b75bb;
  padding: 15px;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 100px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .first_section_title {
    font-size: 4.7rem;
  }
}

@media screen and (max-width: 425px) {
  .first_section_title {
    font-size: 2.7rem;
  }
}

/* HOLIAYS */
.holidays {
  display: flex;
  padding: 30px;
  margin-bottom: 70px;
}

.holidays_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holidays_imgs {
  position: relative;
}

.holidays_img_main {
  position: relative;
  z-index: 1;
  max-width: 63rem;
}

.holidays_img_sec {
  position: absolute;
  top: -50px;
  right: -60px;
}

.holidays_img_ripples {
  position: absolute;
  left: -30px;
  bottom: -30px;
}

.holidays_content {
  max-width: 100%;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 100px;
}

.dream {
  font-family: Roboto;
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1b75bb;
  opacity: 0.8;
  padding-bottom: 20px;
}

.holidays_title {
  font-family: Gelasio;
  font-size: 3.2rem;
  line-height: 140%;
  color: #081f32;
  padding-bottom: 30px;
}

.view {
  text-decoration: none;
  border-radius: 5px;
  background-color: #1b75bb;
  padding: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 100px;
}

/* Why you choose us! */

.container-why {
  max-width: 849px;
  margin: 0 auto;
  padding: 0 15px;
}

.choose {
  font-family: Gelasio;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 140%;
  color: #081f32;
  text-align: center;
  padding-bottom: 20px;
}

.choose-description {
  font-family: Roboto;
  font-size: 1.8rem;
  line-height: 160%;
  text-align: center;
  color: #081f32;
  opacity: 0.6;
  margin-bottom: 60px;
}

.why_row {
  padding: 45px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.why_column {
  width: 25%;
  padding: 15px 15px;
  display: flex;
}

.why_content {
  padding: 17px 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #e6e0e0;
}

.why_content p {
  flex: 1 1 auto;
  color: #081f32;
  font-size: 1.8rem;
  opacity: 0.6;
}

.why_subtitle {
  font-family: "Gelasio", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: #081f32;
  margin: 0px 0px 15px 0px;
}
@media (max-width: 770px) {
  .why {
    padding: 60px 0px;
  }

  .why_column {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .why {
    padding: 20px 0px;
  }

  .why_column {
    padding: 10px 15px;
    width: 100%;
    display: block;
  }

  .why img {
    margin: 0px 0px 20px 0px;
  }

  .why_subtitle {
    font-size: 2rem;
  }

  .why_content p {
    font-size: 1.4rem;
  }
}

/*galary*/

.gallery {
  padding: 100px 0px;
}

.gallery_row {
  margin: -15px -15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gallery_item {
  position: relative;
  padding: 15px 15px;
  width: 50%;
}

.gallery_title {
  color: #081f32;
  font-weight: 500;
  font-size: 3.2rem;
  font-family: "Gelasio", sans-serif;
  margin: 0px 0px 25px 0px;
}

.gallery_txt {
  color: #081f32;
  font-size: 1.8rem;
  opacity: 0.6;
  max-width: 439px;
  margin: 0px 0px 30px 0px;
}

.gallery_btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #1b75bb;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 5px;
  color: #ffffff;
}

.gallery_img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.gallery_content {
  position: absolute;
  bottom: 15px;
  z-index: 2;
  border-radius: 10px;
  padding: 23px 15px;
  background: rgba(226, 226, 226, 0.4);
  backdrop-filter: blur(10px);
}

.gallery_t {
  color: #081f32;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: "Gelasio", sans-serif;
  margin: 0px 0px 12px 0px;
}

.gallery_price {
  margin: 0px 0px 0px 25px;
  color: #081f32;
  font-weight: 500;
  font-size: 1.4rem;
  opacity: 0.8;
}

.gallery_night {
  color: #081f32;
  font-size: 1.2rem;
  opacity: 0.8;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #1b75bb;
  font-family: "Gelasio", sans-serif;
  border-radius: 5px;
  color: #fff;
}
@media (max-width: 770px) {
  .gallery {
    padding: 50px 0px;
  }

  .gallery_title {
    font-size: 2.8rem;
  }

  .gallery_txt {
    font-size: 1.6rem;
  }

  .gallery_row {
    max-width: 555px;
    margin: 0px auto;
    text-align: center;
  }

  .gallery_item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .gallery_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
  }

  .gallery_t {
    margin: 0px 0px 10px 0px;
  }

  .gallery_price {
    margin: 0px 0px 10px 0px;
  }

  .gallery_txt {
    max-width: 100%;
  }

  .gallery_btn {
    font-size: 1.4rem;
    padding: 10px 20px;
  }

  .btn {
    font-size: 1.2rem;
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .gallery {
    padding: 20px 0px;
  }

  .gallery_item {
    padding: 5px 0px;
  }

  .gallery_title {
    margin: 0px 0px 10px 0px;
    font-size: 2.4rem;
  }

  .gallery_txt {
    margin: 0px 0px 10px 0px;
    font-size: 1.4rem;
  }

  .gallery_t {
    font-size: 1.6rem;
  }
}
